 body { 
	 overflow: hidden; 
	 max-width: 100%; 
	 max-height: 100%; 
 }
.bg{
	background-color: #f2f2f2;
}
#cardheader{
	background: url('/clientimg/afni/welcome/compcalchead.jpg') no-repeat center center /cover;
	color: white;
}
#scrollable-area {
	margin: auto;
	height: 450px;
    min-width:810px;
	max-width:1010px;
	border: 1px solid #ccc;
	overflow-y: scroll; /* <-- here is what is important*/
}
.card-size {
	min-width:1020px;
	max-width: 1280px;
}
.tbl-head{
	margin: auto;
	min-width:810px;
	max-width:1010px;
}
.competencytable{
	table-layout: fixed;
	min-width:800px;
	max-width: 1000px;
}
.tbl-head.md-table th.md-column {
	color:white;
}
.compcell{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.slider-cell{
	margin: 0 auto;
	width:100%;
}
.layout-max-width {
	width: 100%;
	max-width: 1000px;
	display: inline-block;
}
/*.md-track-ticks canvas {
	display: none; 
}*/
.tblcard {
	max-width: 1000px;
}
table.md-table td.md-cell,
table.md-table th.md-column {
  vertical-align: middle;
  /* text-align: left; */
}

table.md-table:not(.md-row-select) td.md-cell.slider-cell{
  padding: 0 72px;
}
.warn-msg {
	color:red;
	font-size: .89em;
}